.svg-comp{
  background-color: #FEF3E2;
  /* border: 2px solid black; */
}

.x-axis-months path,
.x-axis-weeks path,
.y-axis path {
  display: none;
}

.x-axis-months line,
.x-axis-weeks line,
.y-axis line,
.grid-lines line,
.week-separators line {
  /* stroke: #000; */
}

.x-axis-months text,
.x-axis-weeks text {
  font-size: 16px;
  font-weight: 500;
}

.x-axis-months .tick text {
  transform: translate(0, -15px);
}

.y-axis .tick {
  font-size: 18px;
}

.grid-lines line {
  /* stroke-opacity: 0.8; */
}

.week-separators line {
  /* stroke-opacity: 1; */
}

.x-axis-weeks .tick {
  /* stroke: #000; */
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}


